body {
    background-color: #3D3D3D;
    display: flex;
    justify-content: center; /* horizontally center  */
    align-items: center;
    height: 100vh; /* browser window */
    margin: 0;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    margin: 20px 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #5e5e5e;
}

p {
    margin: 0 0 30px;
}

h2 {
    font-size: 20px;
    padding: 0 0 5px;
    border-bottom: 1px solid #5e5e5e;
    margin: 20px 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.social-icons a:hover img {
    background-color: #5e5e5e;
} 


